<div class="container">
  <div *ngIf="message" [ngClass]="{ 'alert-success': message }">
    <h1>{{ message }}</h1>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <!-- <th scope="col">Show</th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngIf="conseiller">
          {{ conseiller[0]?.lastname }}
        </td>
        <td *ngIf="conseiller">
          {{ conseiller[0]?.firstname }}
        </td>
        <td *ngIf="conseiller">
          {{ conseiller[0]?.phone }}
        </td>
        <td *ngIf="conseiller">
          {{ conseiller[0]?.email }}
        </td>
        <!-- <td *ngIf="conseiller">
          <a
            class="alert alert-success"
            [routerLink]="[
              '/client/conseiller',
              conseiller[0]?.idUserAccount,
              'view'
            ]"
            ><i class="fa fa-eye"></i>
          </a>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
