<div class="container">
  <h2>Bienvenue</h2>
  <div *ngIf="message">
    {{ message }}
  </div>
  <form #myform="ngForm" (ngSubmit)="accept(myform)">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Identity document</th>
          <th scope="col">Residence document</th>
          <th scope="col">Salary document</th>
          <th scope="col">Valide</th>
        </tr>
      </thead>
      <tbody *ngFor="let client of listClientPotentiel">
        <tr>
          <td>{{ client.firstname }}</td>
          <td>{{ client.lastname }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.phone }}</td>
          <td><a href="{{ client.files[0]?.url }}">Identity</a></td>
          <td><a href="{{ client.files[1]?.url }}">Residence</a></td>
          <td><a href="{{ client.files[2]?.url }}">Salary</a></td>
          <td>
            <input type="checkbox" [(ngModel)]="client.valid" name="client" />
          </td>
        </tr>
      </tbody>
    </table>

    <br />

    <div>
      <button type="submit" class="btn btn-primary">Valider</button>
    </div>
  </form>
</div>
