<div class="container">
  <h2>Bienvenue à {{ username }}</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Type Compte</th>
        <th scope="col">Bank Account Number</th>
        <!-- <th scope="col">Decouvert</th>
        <th scope="col">Montant Agios</th>
        <th scope="col">Seuil Remuneration</th>
        <th scope="col">Solde</th> -->
        <th scope="col">Transactions et solde</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody *ngFor="let compte of comptes">
      <tr>
        <td>{{ compte.bankAccountTypeName }}</td>
        <td>{{ compte.bankAccountNumber }}</td>
        <!-- <td>{{ compte.decouvert }}</td>
        <td>{{ compte.montantAgios }}</td>
        <td>{{ compte.seuilRemuneration }}</td>
        <td>{{ compte.solde }}</td> -->
        <td>
          <a
            class="alert alert-success"
            [routerLink]="[
              '/client/compte/',
              compte.idBankAccount,
              'transaction'
            ]"
            ><i class="fa fa-eye"></i>
          </a>
        </td>
        <td>
          <a
            class="alert alert-success"
            [routerLink]="[
              '/client/compte/',
              compte.idBankAccount,
              'operation'
            ]"
            ><i class="fa fa-money"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>

  <hr />

  <h2 *ngIf="solde < 0" class="alert-danger">
    Ton solde est de : {{ solde | currency: "EUR" }}
  </h2>
  <h2 *ngIf="solde > 0" class="alert-success">
    Ton solde est de : {{ solde | currency: "EUR" }}
  </h2>
</div>
