<div class="container">
  <div *ngIf="message" [ngClass]="{ 'alert-success': message }">
    <h3>{{ message }}</h3>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Client Full Name</th>
        <th scope="col">Account type</th>
        <th scope="col">Account number</th>
        <th scope="col">Show</th>
        <th scope="col">Edit</th>
        <th scope="col">Deactivate</th>
      </tr>
    </thead>
    <tbody *ngFor="let compte of clientList">
      <tr>
        <td>
          {{ compte.userAccountFullName }}
        </td>
        <td>
          {{ compte.bankAccountTypeName }}
        </td>
        <td>
          {{ compte.bankAccountNumber }}
        </td>
        <td>
          <a
            class="alert alert-success"
            [routerLink]="['/conseiller/client/', 'view', compte.idBankAccount]"
            ><i class="fa fa-eye"></i>
          </a>
        </td>
        <td>
          <a
            class="alert alert-primary"
            [routerLink]="['/conseiller/client/', 'edit', compte.idBankAccount]"
            ><i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a
            class="alert alert-danger"
            style="cursor: pointer;"
            (click)="deactivate(compte)"
            ><i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
