<div class="container">
  <div *ngIf="message" [ngClass]="{ 'alert-success': message }">
    <h3>{{ message }}</h3>
  </div>
  <table class="table table-striped center">
    <thead>
      <tr>
        <th scope="col">Client Full Name</th>
        <th scope="col">Account Type</th>
        <th scope="col">Bank Rule</th>
        <th scope="col">Account Number</th>
        <th scope="col">Show</th>
        <th scope="col">Edit</th>
        <th scope="col">Deactivate Bank Account</th>
        <th scope="col">Create Cheque Book for Bank Account</th>
        <th scope="col">Create Saving Account for Client (max : 1)</th>
      </tr>
    </thead>
    <tbody *ngFor="let compte of clientList">
      <tr>
        <td>
          {{ compte.userAccountFullName }}
        </td>
        <td>
          {{ compte.bankAccountTypeName }}
        </td>
        <td>
          {{ compte.bankRuleName }}
        </td>
        <td>
          {{ compte.bankAccountNumber }}
        </td>
        <td>
          <a
            class="alert alert-secondary"
            [routerLink]="['/conseiller/client/', 'view', compte.idBankAccount]"
            ><i class="fa fa-eye center"></i>
          </a>
        </td>
        <td>
          <a
            class="alert alert-primary"
            [routerLink]="['/conseiller/client/', 'edit', compte.idBankAccount]"
            ><i class="fa fa-edit center"></i>
          </a>
        </td>
        <td>
          <a
            class="alert alert-danger"
            style="cursor: pointer;"
            (click)="deactivate(compte)"
            ><i class="fa fa-trash center"></i>
          </a>
        </td>
        <td>
          <a
            class="alert alert-info"
            style="cursor: pointer;"
            (click)="createChequeBookForBankAccount(compte)"
            ><i class="fa fa-plus center"></i>
          </a>
        </td>
        <td>
          <a
            class="alert alert-dark"
            style="cursor: pointer;"
            (click)="createSavingAccountForClient(compte)"
            ><i class="fa fa-plus center"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
