<h1>Bienvenue</h1>

<h4>Ici vous pouvez effectuer des operations de paiement.</h4>
<div class="container">
  <h1 class="text text-primary">
    <i class="fa fa-money"></i>
  </h1>
  <div *ngIf="message">
    <h3>{{ message }}</h3>
  </div>
  <form #myform="ngForm" (ngSubmit)="makeTransaction(myform)">
    <!--     <input
      type="hidden"
      class="form-control"
      name="transactionType"
      required
      value="Debit"
    /> -->
    <div
      class="form-group"
      [ngClass]="{
        'alert-danger': montant?.invalid && (montant.dirty || montant.touched),
        'alert-success': montant?.valid && (montant.dirty || montant.touched)
      }"
    >
      <label for="montant">Montant</label>
      <input
        type="number"
        class="form-control"
        name="montant"
        [(ngModel)]="operation.amount"
        required
        id="montant"
        #montant="ngModel"
      />
      <div
        class="form-control-feedback"
        *ngIf="montant?.errors && (montant.dirty || montant.touched)"
      >
        <p *ngIf="montant?.errors.required">Montant is required</p>
      </div>
    </div>
    <div
      class="form-group"
      [ngClass]="{
        'alert-danger':
          transaction?.invalid && (transaction?.dirty || transaction?.touched),
        'alert-success':
          transaction?.valid && (transaction.dirty || transaction.touched)
      }"
    >
      <label for="transactionType">Transaction Type</label>
      <div>
        <!-- <select
          name="typeMvt"
          [(ngModel)]="operation.typeMvt"
          name="typeMvt"
          id="typeMvt"
          required
          #typeMvt="ngModel"
        >
          <option value="CREDIT">Credit</option>
          <option value="BANKOMAT">Bankomat</option>
          <option value="TRANSFER">Transfer</option>
        </select> -->
        <select
          class="form-control"
          [(ngModel)]="transactionType"
          name="transactionType"
          (change)="onChangeTransactionType($event.target.value)"
          required
          #transaction="ngModel"
        >
          <option
            *ngFor="let transactionType of transactionTypes"
            [value]="transactionType.idTransactionType"
            >{{ transactionType?.name }}</option
          >
        </select>
      </div>
      <div
        class="form-control-feedback"
        *ngIf="
          transaction?.errors && (transaction.dirty || transaction.touched)
        "
      >
        <p *ngIf="transaction?.errors.required">
          Transaction type is required
        </p>
      </div>
    </div>

    <div
      *ngIf="operation.transactionTypeId === 3"
      class="form-group"
      style="width: 50%;"
    >
      <div
        class="form-group"
        [ngClass]="{
          'alert-danger':
            bankAccountNumberTo.invalid &&
            (bankAccountNumberTo.dirty || bankAccountNumberTo.touched),
          'alert-success':
            bankAccountNumberTo.valid &&
            (bankAccountNumberTo.dirty || bankAccountNumberTo.touched)
        }"
      >
        <label class="label label-info" for="bankAccountNumberTo"
          >Numéro du compte du destinataire</label
        >
        <input
          class="form-control"
          [(ngModel)]="operation.bankAccountNumberTo"
          type="text"
          name="bankAccountNumberTo"
          id="bankAccountNumberTo"
          #bankAccountNumberTo="ngModel"
          required
        />
        <div
          class="form-control-feedback"
          *ngIf="
            bankAccountNumberTo.errors &&
            (bankAccountNumberTo.dirty || bankAccountNumberTo.touched)
          "
        >
          <p *ngIf="bankAccountNumberTo.errors.required">
            Receiver's bank account number is required
          </p>
        </div>
      </div>
    </div>
    <!--     <div
      class="form-group"
      [ngClass]="{
        'alert-danger': dateMvt.invalid && (dateMvt.dirty || dateMvt.touched),
        'alert-success': dateMvt.valid && (dateMvt.dirty || dateMvt.touched)
      }"
    >
      <label for="dateMvt">Date de la transaction</label>
      <input
        type="date"
        class="form-control"
        name="dateMvt"
        [(ngModel)]="operation.dateMvt"
        required
        #dateMvt="ngModel"
      />
      <div
        class="form-control-feedback"
        *ngIf="dateMvt.errors && (dateMvt.dirty || dateMvt.touched)"
      >
        <p *ngIf="dateMvt.errors.required">
          La date de la transaction is required
        </p>
      </div>
    </div> -->
    <div
      class="form-group"
      [ngClass]="{
        'alert-danger': libelle.invalid && (libelle.dirty || libelle.touched),
        'alert-success': libelle.valid && (libelle.dirty || libelle.touched)
      }"
    >
      <label for="libelle">Libelle</label>
      <input
        type="text"
        class="form-control"
        name="libelle"
        [(ngModel)]="operation.description"
        required
        #libelle="ngModel"
      />
      <div
        class="form-control-feedback"
        *ngIf="libelle.errors && (libelle.dirty || libelle.touched)"
      >
        <p *ngIf="libelle.errors.required">Libelle is required</p>
      </div>
    </div>

    <button
      type="submit"
      [disabled]="!myform.form.valid"
      class="btn btn-primary"
    >
      Effectuer
    </button>
  </form>
</div>
