<div class="container">
  <h2>Bienvenue à {{ login.getUsername() }}</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id Transaction</th>
        <th scope="col">Date</th>
        <th scope="col">Montant</th>
        <th scope="col">Libelle</th>
        <th scope="col">Type Transaction</th>
      </tr>
    </thead>
    <tbody *ngFor="let transaction of listTransaction">
      <tr>
        <td>{{ transaction.numeroTransaction }}</td>
        <td>{{ transaction.dateMvt | date: "longDate" }}</td>
        <td *ngIf="transaction.type == 'Credit'">
          + {{ transaction.montant | currency: "EUR" }}
        </td>
        <td *ngIf="transaction.type == 'Debit'">
          - {{ transaction.montant | currency: "EUR" }}
        </td>
        <td>{{ transaction.libelle }}</td>
        <td>{{ transaction.typeMvt }}</td>
      </tr>
    </tbody>
  </table>

  <hr />
  <div *ngIf="listTransaction">
    <h2 *ngIf="listTransaction[0].compte.solde < 0" class="alert-danger">
      Ton solde est de :
      {{ listTransaction[0]?.compte.solde | currency: "EUR" }}
    </h2>
    <h2 *ngIf="listTransaction[0].compte.solde > 0" class="alert-success">
      Ton solde est de :
      {{ listTransaction[0]?.compte.solde | currency: "EUR" }}
    </h2>
  </div>
</div>
