<div class="container">
  <h2>Bienvenue à {{ login.getUsername() }}</h2>
  <h4>Vos transactions effectuées les 30 derniers jours</h4>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id Transaction</th>
        <th scope="col">Date</th>
        <th scope="col">Montant</th>
        <th scope="col">Libellé</th>
        <th scope="col">Type Transaction</th>
      </tr>
    </thead>
    <!--   <ng-container *ngIf="filteredListTransactionPerDate"> -->
    <tbody *ngFor="let transaction of filteredListTransactionPerDate">
      <tr>
        <td>{{ transaction?.idTransaction }}</td>
        <td>{{ transaction?.time | date: "longDate" }}</td>
        <td
          *ngIf="
            transaction?.bankAccountToId === bankAccountId &&
            transaction?.bankAccountFromId !== bankAccountId
          "
        >
          + {{ transaction?.amount | currency: "EUR" }}
        </td>
        <td
          *ngIf="
            transaction?.bankAccountToId === bankAccountId &&
            transaction?.bankAccountFromId === bankAccountId
          "
        >
          + {{ transaction?.amount - transaction?.amount | currency: "EUR" }}
        </td>
        <td
          *ngIf="
            transaction?.bankAccountFromId === bankAccountId &&
            transaction?.bankAccountToId !== bankAccountId
          "
        >
          - {{ transaction?.amount | currency: "EUR" }}
        </td>
        <td>{{ transaction?.description }}</td>
        <td
          *ngIf="
            transaction?.bankAccountFromId === 0 ||
            transaction?.bankAccountToId === 0
          "
        >
          {{ transaction?.transactionTypeName }}
        </td>
        <td
          *ngIf="
            transaction?.bankAccountFromId === bankAccountId &&
            transaction?.bankAccountToId === bankAccountId
          "
        >
          {{ transaction?.transactionTypeName }} from account to itself
        </td>
        <td
          *ngIf="
            transaction?.bankAccountFromId === bankAccountId &&
            transaction?.bankAccountToId !== bankAccountId &&
            transaction?.bankAccountToId !== 0
          "
        >
          {{ transaction?.transactionTypeName }} sent
        </td>
        <td
          *ngIf="
            transaction?.bankAccountToId === bankAccountId &&
            transaction?.bankAccountFromId !== bankAccountId &&
            transaction?.bankAccountFromId !== 0
          "
        >
          {{ transaction?.transactionTypeName }} received
        </td>
      </tr>
    </tbody>
    <!--   </ng-container> -->
  </table>

  <hr />
  <div *ngIf="listTransaction">
    <h2 *ngIf="getSolde() <= 0" class="alert-danger">
      Le solde de ce compte est de :
      {{ getSolde() | currency: "EUR" }}
    </h2>
    <h2 *ngIf="getSolde() > 0" class="alert-success">
      Le solde de ce compte est de :
      {{ getSolde() | currency: "EUR" }}
    </h2>
  </div>
  <button class="submit" (click)="printPage()">Print</button>
</div>
