<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Bienvenue</h2>

      <h1 class="text text-primary">
        <i class="fa fa-user-plus"></i>
      </h1>
      <div *ngIf="message" [ngClass]="{ 'alert-success': message }">
        <h4>{{ message }}</h4>
      </div>
      <div
        *ngIf="messageWarning"
        [ngClass]="{ 'alert-warning': messageWarning }"
      >
        <h4>{{ messageWarning }}</h4>
      </div>
      <form #myform="ngForm" (ngSubmit)="resetPass(myform)">
        <div
          class="form-group"
          [ngClass]="{
            'alert-danger':
              newPassword?.invalid &&
              (newPassword.dirty || newPassword.touched),
            'alert-success':
              newPassword?.valid && (newPassword.dirty || newPassword.touched)
          }"
        >
          <label for="newPassword"><h5>New password :</h5></label>
          <input
            type="password"
            class="form-control"
            name="newPassword"
            [(ngModel)]="newPass"
            required
            #newPassword="ngModel"
            pattern="(?=.*[a-z]).{3,}"
            placeholder="New password"
          />
          <div
            class="form-control-feedback"
            *ngIf="
              newPassword?.errors && (newPassword.dirty || newPassword.touched)
            "
          >
            <p *ngIf="newPassword?.errors.required">New password is required</p>
            <p *ngIf="newPassword?.errors.pattern">
              Password must contain at least 3 or more characters, including at
              least 1 lowercase letter!
            </p>
          </div>
        </div>
        <div
          class="form-group"
          [ngClass]="{
            'alert-danger':
              confirmPass?.invalid &&
              (confirmPass.dirty || confirmPass.touched),
            'alert-success':
              confirmPass?.valid && (confirmPass.dirty || confirmPass.touched)
          }"
        >
          <label for="confirmPass"><h5>Confirm new password :</h5></label>
          <input
            type="password"
            class="form-control"
            name="confirmPass"
            [(ngModel)]="confirmPassword"
            required
            #confirmPass="ngModel"
            ngValidateEqual="newPassword"
            placeholder="Confirm new password"
          />
          <div
            class="form-control-feedback"
            *ngIf="
              confirmPass?.errors && (confirmPass.dirty || confirmPass.touched)
            "
          >
            <p *ngIf="confirmPass?.errors.required">
              Confirm new password is required
            </p>
            <p *ngIf="confirmPass?.hasError('notEqual') && newPassword.valid">
              Passwords do not match!
            </p>
          </div>
        </div>
        <button
          type="submit"
          [disabled]="!myform.form.valid"
          class="btn btn-primary"
          id="submitButton"
        >
          Send
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="returnHomePage()"
          id="returnHomePageButton"
        >
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
