<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Bienvenue</h2>
      <h1 class="text text-primary">
        <i class="fa fa-user-plus"></i>
      </h1>
      <div *ngIf="message" [ngClass]="{ 'alert-success': message }">
        <h4>{{ message }}</h4>
      </div>
      <div *ngIf="messageError" [ngClass]="{ 'alert-danger': messageError }">
        <h4>{{ messageError }}</h4>
      </div>
      <form #myform="ngForm" (ngSubmit)="submitEmail(myform)">
        <div
          class="form-group"
          [ngClass]="{
            'alert-danger': email?.invalid && (email.dirty || email.touched),
            'alert-success': email?.valid && (email.dirty || email.touched)
          }"
        >
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            [(ngModel)]="eMailForPasswordReset"
            required
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            #email="ngModel"
          />
          <div
            class="form-control-feedback"
            *ngIf="email?.errors && (email.dirty || email.touched)"
          >
            <p *ngIf="email?.errors.required">Email is required</p>
            <p *ngIf="email?.errors.pattern">
              Email is not in a correct format! Please verify it!
            </p>
          </div>
        </div>
        <button
          type="submit"
          [disabled]="!myform.valid"
          class="btn btn-primary"
          id="submitButton"
        >
          Send
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="returnLoginPage(myform)"
          id="returnLoginPageButton"
        >
          Cancel
        </button>
      </form>
    </div>
    <div class="col-md-6">
      <h4>
        If you cannot login because you have forgotten your password please
        enter your email in the field provided and press the Send button.
      </h4>
    </div>
  </div>
</div>
