<div class="container" style="text-align: center">
    <div class="card">
        <img src="../../assets//img/person1.png" width="30%!important" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Clien: {{client?.prenome | uppercase}} {{client?.nom | uppercase}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Id : {{client?.id}}</li>
            <li class="list-group-item">Nom : {{client?.nom}}</li>
            <li class="list-group-item">Prénom : {{client?.prenome}}</li>
            <li class="list-group-item">Matricule : {{client?.matricule}}</li>
            <li class="list-group-item">Email : {{client?.email}}</li>
            <li class="list-group-item">Adresse : {{client?.adress}}</li>
            <li class="list-group-item">Téléphone : {{client?.telephone}}</li>
            <li class="list-group-item">Pseudo : {{client?.pseudo}}</li>
            <li class="list-group-item">Prénom : {{client?.prenome}}</li>
            <li class="list-group-item">Prénom : {{client?.prenome}}</li>
        </ul>

    </div>
</div>