<div class="container" style="text-align: center;">
  <div class="card">
    <!-- <img
      src="../../assets//img/person1.png"
      width="30%!important"
      class="card-img-top"
      alt="..."
    /> -->
    <div class="card-body">
      <h5 class="card-title">
        Client : {{ client?.userAccountFullName | uppercase }}
      </h5>
      <p class="card-text">
        Fiche d'information du compte :
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Bank Account ID : {{ client?.idBankAccount }}
      </li>
      <li class="list-group-item">
        Bank Account Number : {{ client?.bankAccountNumber }}
      </li>
      <li class="list-group-item">
        Bank Account Type ID : {{ client?.bankAccountTypeId }}
      </li>
      <li class="list-group-item">
        Bank Account Type Name : {{ client?.bankAccountTypeName }}
      </li>
      <li class="list-group-item">Client ID : {{ client?.userAccountId }}</li>
      <li class="list-group-item">Bank Rule ID : {{ client?.bankRuleId }}</li>
      <li class="list-group-item">
        Bank Rule Percent : {{ client?.bankRulePercent }}
      </li>
      <li class="list-group-item">
        Bank Rule Name : {{ client?.bankRuleName }}
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/conseiller/clients']"
          >Retour à la liste des Clients
        </a>
      </li>
    </ul>
  </div>
</div>
