<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Bienvenue à {{ username }}</h2>

      <h1 class="text text-primary">
        <i class="fa fa-user-plus"></i>
      </h1>
      <div *ngIf="message" [ngClass]="{ 'alert-success': message }">
        <h4>{{ message }}</h4>
      </div>
      <div
        *ngIf="messageWarning"
        [ngClass]="{ 'alert-warning': messageWarning }"
      >
        <h4>{{ messageWarning }}</h4>
      </div>
      <form #myform="ngForm" (ngSubmit)="modifyPassword(myform)">
        <div
          class="form-group"
          [ngClass]="{
            'alert-danger':
              oldPass?.invalid && (oldPass.dirty || oldPass.touched),
            'alert-success':
              oldPass?.valid && (oldPass.dirty || oldPass.touched)
          }"
        >
          <label for="oldPass"><h5>Current password :</h5></label>
          <input
            type="password"
            class="form-control"
            name="oldPass"
            [(ngModel)]="changePassword.oldPass"
            required
            #oldPass="ngModel"
            placeholder="Current password"
          />
          <div
            class="form-control-feedback"
            *ngIf="oldPass?.errors && (oldPass.dirty || oldPass.touched)"
          >
            <p *ngIf="oldPass?.errors.required">Current password is required</p>
          </div>
        </div>
        <div
          class="form-group"
          [ngClass]="{
            'alert-danger':
              newPass?.invalid && (newPass.dirty || newPass.touched),
            'alert-success':
              newPass?.valid && (newPass.dirty || newPass.touched)
          }"
        >
          <label for="newPass"><h5>New password :</h5></label>
          <input
            type="password"
            class="form-control"
            name="newPass"
            [(ngModel)]="changePassword.newPass"
            required
            #newPass="ngModel"
            pattern="(?=.*[a-z]).{3,}"
            placeholder="New password"
          />
          <div
            class="form-control-feedback"
            *ngIf="newPass?.errors && (newPass.dirty || newPass.touched)"
          >
            <p *ngIf="newPass?.errors.required">New password is required</p>
            <p *ngIf="newPass?.errors.pattern">
              Password must contain at least 3 or more characters, including at
              least 1 lowercase letter!
            </p>
          </div>
        </div>
        <div
          class="form-group"
          [ngClass]="{
            'alert-danger':
              confirmPass?.invalid &&
              (confirmPass.dirty || confirmPass.touched),
            'alert-success':
              confirmPass?.valid && (confirmPass.dirty || confirmPass.touched)
          }"
        >
          <label for="confirmPass"><h5>Confirm new password :</h5></label>
          <input
            type="password"
            class="form-control"
            name="confirmPass"
            [(ngModel)]="confirmPassword"
            required
            #confirmPass="ngModel"
            ngValidateEqual="newPass"
            placeholder="Confirm new password"
          />
          <div
            class="form-control-feedback"
            *ngIf="
              confirmPass?.errors && (confirmPass.dirty || confirmPass.touched)
            "
          >
            <p *ngIf="confirmPass?.errors.required">
              Confirm new password is required
            </p>
            <p *ngIf="confirmPass?.hasError('notEqual') && newPass.valid">
              Passwords do not match!
            </p>
          </div>
        </div>
        <button
          type="submit"
          [disabled]="!myform.form.valid"
          class="btn btn-primary"
          id="submitButton"
        >
          Validate
        </button>
      </form>
    </div>
  </div>
</div>
